.gallery-wrapper{
    width: 830px;
    height: 100%;
    // background-color: seashell;
    margin-left: 500px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

    .column{
        width: 400px;
        height: 100px;
        background-color: red;

        .photo{
            width: 400px;
            margin-bottom: 30px;
        }

    //left column photos
        #l-photo1{
            height: 650px;
            background-image: url(../img/gallery02.jpg);
        }

        #l-photo2{
            height: 200px;
            background-image: url(../img/gallery04.jpg);
            background-size: cover;
            background-position: center bottom;
        }

        #l-photo3{
            height: 400px;
            background-image: url(../img/gallery03.jpg);
            background-size: cover;
            background-position: center;
        }

        #l-photo4{
            height: 450px;
            background-image: url(../img/gallery08.jpg);
            background-size: cover;
            background-position: center;
        }

    //right column photos
        #r-photo1{
            height: 300px;
            background-image: url(../img/gallery06.jpg);
            background-size: cover;
            background-position: center bottom;
        }

        #r-photo2{
            height: 200px;
            background-image: url(../img/gallery05.jpg);
            background-size: cover;
            background-position: center bottom;
        }

        #r-photo3{
            height: 600px;
            background-image: url(../img/gallery01.jpg);
            background-size: cover;
            background-position: center bottom;
        }

        #r-photo4{
            height: 600px;
            background-image: url(../img/gallery07.jpg);
            background-size: cover;
            background-position: center bottom;
        }
    }
}